.Graph {
  min-height: 50vh;
  width: 70%;
  margin: 30px;
  color: white;
  background-color: rgba(42, 42, 42, 0.918);
  box-shadow: rgb(113, 113, 113) 0px 3px 10px;
  padding: 2em;
  border-radius: 15px;
}
.Graph-header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Graph-chart {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .Graph {
    width: 90%;
  }
}
