.NavBar {
  height: 10vh;
  background-color: rgb(34, 34, 34);
  box-shadow: rgb(78, 78, 78) 0px 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar-heading {
  color: white;
}
